
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    </head>
      <section class="top-nav">
        <div class="first">
          <h1>MAHESH</h1>
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
        <ul class="menu">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="about"> About</a></li>
          <li><a routerLink="gallery"> Gallery</a></li>
          <li><a routerLink="review"> Review</a></li>
          <li><a routerLink="contact"> Contact</a></li>
        </ul>
      </section>
      
   
    <router-outlet></router-outlet>
 
