<div class="container-fluid">
    <div class="row mt-3 d-flex justify-content-evenly">
        <div class="col-md-5 col-sm-12">
            <img src="https://images.pexels.com/photos/906457/pexels-photo-906457.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>About Me</h2>
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quisquam sit quod voluptatum, consectetur reprehenderit pariatur quo labore laborum qui iste ullam dolor eveniet consequuntur magnam, modi minima vitae nihil.
            Asperiores labore voluptates blanditiis! Magni repudiandae vitae modi ducimus natus. Recusandae molestiae perferendis praesentium repellendus corrupti quisquam tempore accusamus laudantium placeat, consequuntur, esse reiciendis nesciunt, voluptatum nam facere aliquid ab?
            Laudantium optio perspiciatis doloribus in maxime voluptatum doloremque, fugiat quam ex iure est amet et aut voluptates omnis. Cumque, beatae quod! Modi tempora doloribus temporibus aperiam iusto harum ab impedit?
            Laborum eligendi iusto quisquam eaque est, incidunt sunt explicabo repellendus nisi ex doloribus temporibus repellat omnis vel. Sed temporibus quasi magnam, aperiam a cumque optio blanditiis ducimus perspiciatis. Quod, praesentium.
            Suscipit voluptate beatae provident. Eveniet, distinctio provident dignissimos cumque ut eum quas beatae repellat similique, quasi eligendi facere saepe reiciendis, doloribus natus expedita amet aliquam deserunt dolorem! Cum, veniam distinctio.
            Voluptatum corporis id est quibusdam. Odit cum voluptatum, recusandae incidunt aliquid deserunt officia molestias aliquam voluptate amet velit vero, perferendis distinctio nihil ipsa suscipit a laborum magnam ad. Nobis, maxime.
            Vitae itaque esse asperiores quas non pariatur impedit fugit doloribus, unde vero sapiente at eveniet. Dignissimos voluptatibus laudantium quas ad aperiam! Ducimus illo sunt quae aspernatur iure fugiat ipsam totam.</p>
           <div class="four mt-4">
            <div class="one">
                <h1>15</h1>
                <p>Awards Won</p>
            </div>
            <div class="one">
                <h1>50</h1>
                <p>Project Done</p>
            </div>
            <div class="one">
                <h1>45</h1>
                <p>Happy Clients</p>
            </div>
            <div class="one">
                <h1>5000</h1>
                <p>All Shoots</p>
            </div>
           </div>
           <div class="but"><button mat-raised-button color="accent">Contact Me</button></div>
        </div>
    </div>
</div>
