
<section class="testimonials container">
    <div class="testimonial-heading text-center">
        <span>Comments</span>
        <h1>Clients Says</h1>
    </div>
    <div class="testimonial-box-container">
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://images.pexels.com/photos/93827/pexels-photo-93827.jpeg?cs=srgb&dl=pexels-stefan-stefancik-93827.jpg&fm=jpg" alt="">
                    </div>
                    <div class="name-user">
                        <strong class="text-dark">Panu mahajan</strong>
                        <span>@panumahajan</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis dolor, nesciunt consequatur, laudantium dolorem ea fuga corporis aperiam dolore earum odit reprehenderit cupiditate nemo laboriosam quam quae fugit. Aperiam, facilis!</p>
            </div>
        </div>
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://images.unsplash.com/photo-1574788170925-c2586e1c510d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGhhcHB5JTIwZ2lybHxlbnwwfHwwfHx8MA%3D%3D" alt="">
                    </div>
                    <div class="name-user">
                        <strong class="text-dark">Yashaswini mare</strong>
                        <span>@yashmare</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis dolor, nesciunt consequatur, laudantium dolorem ea fuga corporis aperiam dolore earum odit reprehenderit cupiditate nemo laboriosam quam quae fugit. Aperiam, facilis!</p>
            </div>
        </div>
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://media.istockphoto.com/id/1443876461/photo/software-designer-speaking-to-his-client-on-the-phone-in-an-office.webp?b=1&s=170667a&w=0&k=20&c=vxlQSh5KRomfIvIGw_hF1d3MLC4XMcKgkaoTNL-otZY=" alt="">
                    </div>
                    <div class="name-user">
                        <strong class="text-dark">tejas sasane</strong>
                        <span>@tejsasane</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis dolor, nesciunt consequatur, laudantium dolorem ea fuga corporis aperiam dolore earum odit reprehenderit cupiditate nemo laboriosam quam quae fugit. Aperiam, facilis!</p>
            </div>
        </div>
        <div class="testimonial-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-img">
                        <img src="https://media.istockphoto.com/id/1470808049/photo/young-indian-male-employee-freelancer-businessman-stands-with-a-smartphone-in-hand.webp?b=1&s=170667a&w=0&k=20&c=B0fIYwB8HfDGB-OikL43baDnY3Om-ewRiND-tsu5UrE=" alt="">
                    </div>
                    <div class="name-user">
                        <strong class="text-dark">mahesh shinde</strong>
                        <span>@mahishinde</span>
                    </div>
                </div>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis dolor, nesciunt consequatur, laudantium dolorem ea fuga corporis aperiam dolore earum odit reprehenderit cupiditate nemo laboriosam quam quae fugit. Aperiam, facilis!</p>
            </div>
        </div>
    </div>
  </section> 
  
